body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s;
}

header {
    background-color: #ff9900;
    color: white;
    text-align: center;
    padding: 20px 0;
    transition: background-color 0.3s;
}

.store-name {
    font-size: 36px;
    color: #0c0102;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    letter-spacing: 4px;
    margin-top: 10px;
    text-shadow: 2px 2px 4px rgb(255, 250, 250);
}

.product {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
}

.product:hover {
    transform: scale(1.05);
}

.product-images img {
    max-width: 100%;
    height: auto;
    transition: transform 0.2s;
}

.product-images img:hover {
    transform: scale(1.1);
}

.product-details {
    flex: 1;
    padding: 20px;
}

.product-title {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
    transition: color 0.3s;
}

.product-title:hover {
    color: #d50f25;
}

.product-description {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
    transition: color 0.3s;
}

.product-description:hover {
    color: #ff9900;
}

.product-price {
    font-size: 28px;
    color: #d50f25;
    margin-bottom: 20px;
    transition: color 0.3s;
}

.product-price:hover {
    color: #ff9900;
}

.product-actions {
    margin-top: 20px;
}

button {
    background-color: #d50f25;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 4px;
    font-size: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff3333;
    transition: background-color 0.3s;
}

footer {
    text-align: center;
    background-color: #ff9900;
    color: white;
    padding: 20px 0;
    font-size: 18px;
    transition: background-color 0.3s;
}

footer:hover {
    background-color: #f9f7f7;
}

.store-logo {
    max-width: 70px; /* Adjust the width as needed */
    height: auto;
    display: block; /* Centers the image horizontally within the header */
    margin: 0 auto;
}